body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.upper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.lower {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.top {
  border-left: 10px;
  border-radius: 10px;
  border-color: blue;
  outline-style: solid;
}

#gameContainer {
  display: flex;
  flex-direction: column;
  background-color: #ccc4c4;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  border: 10px solid black;
  height: 70%;
  width: 50%;
  position: relative;
}

#watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#rollButtonContainer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
}

#gameInfo {
  margin-bottom: 20px;
}

#scoreDisplay {
  margin-top: 20px;
}

#scoreCircle {
  width: 50px;
  height: 50px;
  background-color: #0077ff;
  color: white;
  border-radius: 50%;
  line-height: 50px;
  font-size: 24px;
  margin: 0 auto;
}

button {
  background-color: #0077ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
